# (possible build outputs)
/game
*.o
*.obj
*.dll
*.so
*.a
*.lib

# Building in a subdirectory? Great!
/*build*

# CMake output
/CMakeCache.txt
/CMakeFiles
/cmake_install.cmake
Makefile
*.ninja
.ninja*

# IDE-specific things
/.vs
/.vscode
*.kdev4
/CMakeSettings.json
/.project
/.cproject
*.sublime-*
